##section 1

In [2]:
#2
z = "first task"
print(z)

first task

In [5]:
#3
y = True
print(y)

True

In [7]:
#4
type(x)

int

In [13]:
#5
answer_2 = "hallo"
type(answer_2)

str

In [11]:
#6
v1 = 12.3
print(type(v1))
v1 = "welcome"
print(type(v1))
v1 = [1,2,3]
print(type(v1))
v1 = {1,2,3}
print(type(v1))
v1 = "123"
print(type(v1))

<class 'float'>
<class 'str'>
<class 'list'>
<class 'set'>
<class 'str'>

##section 2

In [23]:
s1 = "Ault"
s2 = "Kelly"
s1 = s1[0:2]+s2+s1[2:]
print(s1)

AuKellylt

In [66]:
n = input()

ganna ayman

In [74]:
n1 = n.split()
n1 = reversed(n1)
print(" ".join(n1))

ayman ganna

In [82]:
li = ['ganna','ayman']
li.reverse()
li

['ayman', 'ganna']

In [84]:
char = input()
st = "my name is gana"
st[0] == char

M

False

In [90]:
txt = "hello world"
print("first cahracter is: " +txt[0])
print("character from 2 to 4: " +txt[2:5])
print(txt.upper())
print(txt.lower())

first cahracter is: h
character from 2 to 4: llo
HELLO WORLD
hello world

##section 3

In [92]:
list1 = [100,200,300,400,500]
list1.reverse()
list1

[500, 400, 300, 200, 100]

In [102]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])
fruits[0] = "kiwi"
print(fruits)
fruits.insert(1,"lemon")
print(fruits)
print(fruits[-1])

banana
['kiwi', 'banana', 'cherry']
['kiwi', 'lemon', 'banana', 'cherry']
cherry

In [104]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[3:6])

['orange', 'kiwi', 'melon']

In [128]:
list1 = ["a", "b", 
         ["c",
          ["d", "e",
           ["f", "g", ], "k"], "l"], "m", "n"]

sub_list = ["h", "i", "j"]
#list1.insert(2[1[2[1]]],sub_list)
list1[2][1][2].append(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']